p {
    font-family: 'Red-Mono-Family', monospace;
    font-weight: 300;
    color: white;
}

h1 {
    font-family: 'Red-Mono-Family', monospace;
    font-weight: 300;
    color: white;
}

body {
    background-image: url("assets/back.png");
}

.title {
    color: white;
}
.subtitle {
    color: #878588;
}